.header {
  background-color: #99a1b31a;
  margin: auto -16px;
  padding: 16px 32px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

.header h1 {
  color: #087ea4;
  font-family: "McLaren", cursive;
  font-weight: 200;
}